{% extends 'main/layout.html' %}

{% block title %}Delete project{% endblock %}

{% block content %}
    <div class="features">
        <h1>Delete project</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.start_date }}<br>
            {{ form.finish_date }}<br>
            {{ form.status }}<br>

            <span>{{ error }}</span>

            <button class="btn btn-danger" type="submit">Delete project</button>
        </form>
    </div>

{% endblock %}
