{% extends 'main/layout.html' %}

{% block title %}Task editing form{% endblock %}

{% block content %}
    <div class="features">
        <h1>Task editing form</h1>
        <form method="post">
            {% csrf_token %}
            {{ form_task.project }}<br>
            {{ form_task.name }}<br>
            {{ form_task.status }}<br>
            {{ form_task.description }}<br>

            <span>{{ error_task }}</span>

            <button class="btn btn-success" type="submit">Edit task</button>
        </form>
    </div>

{% endblock %}
